/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 29, 2020, 12:37:22 AM
    Author     : Dilshan
*/
.table{
    
}
.tdth{
    -fx-border-color: #dddddd;
    -fx-padding: 10px;
    
}
.tdth:nth-child(even){
    -fx-background-color: #dddddd;
}